
.container{
  width: 650px;
  border: 1px solid;
  margin: auto;
  padding-bottom: 10px;

}

.img{
  width: 170px;
  height: 250px;
  border: 1px solid;
  display: inline-block;
  position: relative;
}

.sezione{
  margin: auto;
  width: 530px;
  padding-top: 10px;
}

.sconto{
  width: 30px;
  height: 15px;
  position: absolute;
  right: 0%;
  top: 0%;
  border: 1px solid;
}


div.cuoricino{
  position: absolute;
  right: 45%;
  display: none;
}

div.img:hover div.cuoricino{
  display: block;
  color: red;
}

.green{
  background-color: green;
}

.red{
  background-color: red;
}
